body {
  font-family: 'Roboto', sans-serif;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h2, h4, h5 {
  font-weight: 400;
}

@media (max-width: 575px) {
  .navbar .container {
    width: 100%;
  }
  .navbar-toggler-right {
    top: .75rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  h4 {
    line-height: 2rem
  }
  p {
    font-size: 1.3rem
  }
}

.absolute-top {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.bg-primary {
  background-color: #3c78d8;
}

.bg-secondary {
  background-color: #f0f0f0;
}

.btn-primary {
  background: #111;
  border-color: #111;
}

.navbar.fixed-top.instant {
  background-color: #4285F4 !important;
  transition: none !important;

}

.navbar.fixed-top.scrolled {
  background-color: #4285F4 !important;
  transition: background-color 300ms linear;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logo {
  display: inline-block;
  width: 350px;
}

.logo a {
  display: table;
  align-items: center;
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
}
.logo a img {
  padding: 0.66rem 1rem;
  width: 3.5rem;
  display: table-cell;
}

.logo a span {
  font-size: 1.0rem;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
}

#cover-img {
  background:
      linear-gradient( rgba(66,133,244, .5), rgba(66,133,244, .5)),
      url('/assets/images/public/background2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10rem;
  padding-bottom: 7.6rem;
  min-height: 100%;
}

.logos {
  max-height: 60px;
}

.featurette i.material-icons {
  font-size: 45px;
  color: #111;
}

.featurette p, .subheading {
  opacity: .75;
}
.tender-feature {
  padding-top: 2rem;
  padding-bottom: 2.4rem;
}
.tender-featurette {
  padding-top: 0rem;
  padding-bottom: 3.2rem;
}
footer {
  background-color: #111;
}
footer a {
  color: #fff;
}
