#page-notifications {
	.notification-container {
		font-size: 1.6rem;
		.notification-cell {
			padding: 0.5rem 0;
			.close-notification {
				i {
					color: $dark-gray;
				}
			}
			.notification-content {
				a {
					cursor: default;
					color: $dark-gray;
					font-weight: normal;
					&:hover {
						color: $black;
					}

				}
			}
			.notification-time {
				font-size: 1.4rem;
				font-weight: normal;
				min-width: 6rem;
			}
		}
	}
}